xcuserdata/
*DS_Store

[Oo]bj/
[Bb]in/
*.sln.ide/
_ReSharper.*/
.vs/
*.user
*.suo
_ReSharper.*
project.lock.json
launchSettings.json
*.tmp
.vscode/
signalr-client/
node_modules/
*/TestServer/wwwroot/js/
Pods/
Package.resolved
.swiftpm/
.build/
# This can be generated using: swift package generate-xcodeproj
SwiftSignalRClient.xcodeproj
